* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container.honey-cont {
    max-width: 1220px;
}

.container.comment-cont {
    max-width: 1189px;
}
.header {
    background: #2d3136;
    padding: 44px 0 92px;
}

.logo img {
    width: 100%;
    max-width: 308px;
}

.mail-logo img {
    width: 100%;
    max-width: 280px;
    margin-top: 35px;
}

.form {
    color:#fff;
    margin-top: 23px;
}
.form label {
    width:98%;
    margin-bottom: 62px;
}

.form label span {
    color: #d7d7d7;
    font-size: 35px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 65px;
    text-align: left;
}
.form label span:after {
    content: '';
    background: url(../img/reguired.png) no-repeat;
    background-size:cover;
    width: 18px;
    height: 18px;
    position: relative;
    display: inline-block;
    bottom:8px;
    left:16px
}

.form textarea.form-control {
    resize:none;
    width:100%;
    min-height: 340px;
}

.form .form-control {
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(47, 51, 56, 0.28);
    padding: 23px 20px;
    margin-top: 5px;
    color: #d7d7d7;
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    border-radius: 10px;
    
}


.form .form-control:active,
.form .form-control:focus {
    border: 2px solid rgba(190, 57, 59, 0.49);
    outline: none;
    background: transparent;
    box-shadow: none;
    color: #d7d7d7;
}

.form .submit-btn {
    float:right;
    color: #ffffff;
    font-size: 38px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    margin-top: 43px;
    padding: 20px 30px;
}


.form .form-control.error {
    border: 2px solid red;
}
.form .error {
    color:red
}
.form .success {
   color:green
}


.form .text {
    position: absolute;
}
.comment-wrapper {
    padding: 135px 0 70px;
}

.comment-title {
    text-align: center;
    color: #37414e;
    font-size: 43px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    margin-bottom: 128px;
}

.comment-wrapper .user-comment-wrap  {
    width: 87%;
    margin: 0 auto;
}
.comment-wrapper .name {
    text-align: center;
    padding: 25px 10px;
    color: #ffffff;
    font-size: 34px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1;
    text-align: center;
}

.comment-wrapper .comment {
    padding: 20px;
    text-align: center;
}

.comment-wrapper .comment .email {
    font-size: 34px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 85px;
    color: #6d737b;
    margin-bottom: 27px;
}

.comment-wrapper .comment .comment-text {
    color: #768275;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 35px;
}

.comment-wrapper .user-comment {
    margin-bottom: 66px;
}
.comment-wrapper .user-comment .comment {
    min-height: 325px;
}
.comment-wrapper .user-comment:nth-child(even) .name {
    background: #4b596c;
}

.comment-wrapper .user-comment:nth-child(odd) .name {
    background: #58ad52;
}

.comment-wrapper .user-comment:nth-child(even) .comment {
   background: #e9eef3;
    color: #767582;
    font-size: 60px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 60px;
}

.comment-wrapper  .user-comment:nth-child(odd) .comment {
    background: #deebde;
    color: #768275;
}

.comment-wrapper .user-comment:nth-child(odd) .comment .email {
    color: #58ad52;
}

.footer {
    background: #2d3136;
    padding: 40px 0 55px;
}
.footer .logo img {
    width: 100%;
    max-width: 250px;
}

.footer .social {
    display: flex;
    justify-content: space-between;
}
.footer .social .vk {
    position: relative;
    right: -20px;
}
.footer .social img {
    width: 100%;
    max-width: 50px;
}
